<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
<h1>Enable geolocation</h1>
<button  type="button" (click)="getLocation($event)" value="Test"> Clck here to enable geolocation </button>
<app-flight-list *ngIf="geoEnabled" [latitude]="this.position.coords.latitude" [longitude]="this.position.coords.longitude"></app-flight-list>

