

<div *ngFor="let fl of flights"><h3>{{ fl.id }}</h3>
     <ul>
       <li>Model: {{ fl.model }}</li>
      <li>Manufacvturer: {{ fl.manufacturer }}</li>
      <li>ALT: {{ fl.altitude }}</li>
      <li>FROM: {{ fl.origin }}</li>
       <li>DEST: {{ fl.destination }}</li>
     </ul>
</div>


